
<div  id="BackoundImage"  >
  <div *ngIf="!registerMode" style="text-align: center" class="headings">
    <h1>Web Based communication System of IST</h1>
    <p class="lead">Join our private communication system</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row" >
    <div class="col-lg-4 text-center" id="privacyResize">
      <h1>Stop Data Mining/Filched</h1>
      <img src="../../assets/privacy.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        acilis, animi hic quisquam veniam dolore magni corrupti au</p>
    </div>
    <div class="col-lg-4 text-center" id="privacyResize">
      <h1>Stop BitCoin Mining</h1>
      <img src="../../assets/bitcoin.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        acilis, animi hic quisquam veniam dolore magni corrupti au</p>
    </div>
    <div class="col-lg-4 text-center" id="privacyResize">
      <h1>Prevent Data Leakage</h1>
      <img src="../../assets/data.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        acilis, animi hic quisquam veniam dolore magni corrupti au</p>
    </div>    
  </div>
</div>

  <div class="jumbotron p-0 p-md-5 text-white rounded bg-info">
    <div class="col-md-12 px-0 ">
      <h1 class="display-4 font-italic">You can covercome this limitations and make 
        awesome Private Communication System for your won company.</h1>
    </div>  
  </div>  

   <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden p-0">
        <div class="my-3 py-3">
          <h2 class="display-5">Secure Database</h2>
          <p class="lead">Salting+Hash+JWT Token.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="https://res.cloudinary.com/djysg4anm/image/upload/v1597254876/Screenshot_1_advzud.png" alt="">
        </div>
  </div>
  
  <br>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <br>
          <br>
          <br>
          <strong class="d-inline-block mb-2 text-primary">WepApi <br> Configuaration</strong>
          
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/api.png" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        
        <div class="card-body d-flex flex-column align-items-start">
          <br>
          <br>
          <br>
          <strong class="d-inline-block mb-2 text-success">Angular <br> Design</strong>
          
        </div>
        
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/spa.png" alt="Card image cap">
      </div>
    </div>
  </div>
  
  





<div class="container-fluid sticky-bottom bg-success">
      <div class="row">
        <div class="container text-center pt-3 text-white">
          <p>Copyright &copy; All rights reserved | This template is made with 
            <i class="icon-heart color-danger" aria-hidden="true"></i> by 
            <a class="text-dark" href="https://www.facebook.com/ma5termine" target="_blank">Anisur Rahman shaikot</a> 
            and 
            <i class="icon-heart color-danger" aria-hidden="true"></i>
            <a class="text-dark" href="https://www.facebook.com/nimon.hasan.onvir" target="_blank">Nimon Hasan</a>
          </p>
        </div>
          
      </div>
  </div>
