<br>
<br>
<br>
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/djysg4anm/image/upload/v1595710862/anime_741831_vcreff.jpg" alt="" width="72" height="72">
    <h2>Ist Privet Communication System</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>
   
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden temp-div">
          <div class="my-3 p-3">
            <h2 class="display-5">Asp.Net WebApp</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto img-1" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="https://res.cloudinary.com/djysg4anm/image/upload/v1596563417/Screenshot_15_crfxii.png" alt="">
          </div>
        </div>
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden temp-div">
          <div class="my-3 p-3">
            <h2 class="display-5">Angular Design</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-light shadow-sm mx-auto img-1" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="https://res.cloudinary.com/djysg4anm/image/upload/v1596563417/Screenshot_15_crfxii.png" alt="">
          </div>
        </div>
      </div>
    
      
    
    <div class="row">
      <h1>api des</h1>
    </div>
    <div class="row">
      <h1>angular des</h1>
    </div>
</div>



<div class="container-fluid sticky-bottom bg-success">
  <div class="row">
    <div class="container text-center pt-3 text-white">
      <p>Copyright &copy; All rights reserved | This template is made with 
        <i class="icon-heart color-danger" aria-hidden="true"></i> by 
        <a class="text-dark" href="https://www.facebook.com/ma5termine" target="_blank">Anisur Rahman shaikot</a> 
        and 
        <i class="icon-heart color-danger" aria-hidden="true"></i>
        <a class="text-dark" href="https://www.facebook.com/nimon.hasan.onvir" target="_blank">Nimon Hasan</a>
      </p>
  </div>
      
</div>
